.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  padding-left: 30px;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

Button {
  margin-left: 5px;
  margin-right: 5px;
}

.columnHolder {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.mainContainer {
  padding-left: 30px;
}

.p {
  font-size: 50%;
}
.App-link {
  color: #61dafb;
}
